doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")
    link(rel="stylesheet", href="css/main.css")
    title ISCOR - Informe de Amenazas Globales 2016
  body
    header.franja
      h1
        | Informe de Amenazas Globales 2016 de Forcepoint
    section.banner
    .ed-container
      .ed-item.web-100.abcenter
        img.logisc(src="img/logo.png", alt="")
      .ed-item.web-100.abcenter
        a.btn-download(href="forcepoint_2016_global_threat_report_es_0.pdf") DESCARGAR
    //- footer.franja.franja-footer
    //-   h2 Iscor agradece su preferencia
      
        
      
