doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")
    link(rel="stylesheet", href="css/main.css")
    title REGISTRATE Y FORMA PARTE DE LA EVOLUCION
  body
    header.franja
      h1
        | REGISTRATE Y FORMA PARTE DE LA EVOLUCION
    section.banner
    .ed-container
      .ed-item.web-65
        img.logisc(src="img/mcs-logo-inicio.png", alt="")
        p En MCS nuestro mayor exito son las relaciones a largo plazo que tenemos con nuestros clientes, entendemos la importancia de su negocio, y nos comprometemos a brindar soluciones tecnológicas innovadoras que les permitan agilizar sus procesos cuidando factores de importancia tales como performance, seguridad, balance comercial y mas.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magnam quibusdam architecto maiores voluptatem corporis, molestias commodi saepe cum consequatur temporibus doloremque fugit similique placeat, eum eaque ipsum neque? Modi.
      .ed-item.web-35
        .container
          form.contacto__form(action='http://efrix.net/form/bitecna-form.php', method='post')
            ul
              li
                h2
                  | REGISTRO
              li
                input(type='text', name='nombre', placeholder='NOMBRE', required='required')
              |             
              li
                input(type='text', name='correo', placeholder='E-MAIL', required='required')
              |   
              li
                input(type='text', name='telefono', placeholder='TELEFONO', required='required')
              |                                    
              li
                input(type='text', name='empresa', placeholder='EMPRESA', required='required')
              |                          
              li
                input#boton.btn-send(type='submit', value='Enviar')
    footer.franja.franja-footer
      h2 Invitación NO transferible
      
        
      
